<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/wine_factory_db?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">lioeammarov</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="bg.tu_varna.sit.winefactory.data.entities.User"/>
        <mapping class="bg.tu_varna.sit.winefactory.data.entities.GrapeVariety"/>
        <mapping class="bg.tu_varna.sit.winefactory.data.entities.BottleType"/>
        <mapping class="bg.tu_varna.sit.winefactory.data.entities.WineBatch"/>
        <mapping class="bg.tu_varna.sit.winefactory.data.entities.BottledWine"/>
        <mapping class="bg.tu_varna.sit.winefactory.data.entities.Notification"/>
        <mapping class="bg.tu_varna.sit.winefactory.data.entities.Wine"/>
        <mapping class="bg.tu_varna.sit.winefactory.data.entities.ProductionBatch"/>
        <mapping class="bg.tu_varna.sit.winefactory.data.entities.WineType"/>
        <mapping class="bg.tu_varna.sit.winefactory.data.entities.WineRecipeItem"/>
    </session-factory>
</hibernate-configuration>